@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Josefin+Slab:wght@100&family=Julius+Sans+One&family=Lemon&family=Libre+Baskerville&family=Marmelad&family=Quicksand:wght@600&family=Rosario&family=Salsa&display=swap");

:root {
  --font-color: #fff1e6;
  --background-color: #ebe8e8;
  --background-color-nav: #3d353779;
  --color-name: #d80a41;
  --color-logo: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Libre Baskerville", serif;
}

body {
  background-color: var(--background-color);
}

hr {
  margin: 30px;
  background-color: #d80a41;
  height: 3px;
}

/* estilos de header */

.header {
  background-image: url(./img/mujer-joven-tratamiento-contra-edad-salon-spa.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-clip: content-box;
  height: 400px;
  background-color: #292728a1;
  background-blend-mode: multiply;
}

.name {
  background: none;
  text-transform: uppercase;
  color: black;
  font-size: 25px;
  font-weight: 800;
  font-family: "Julius Sans One", sans-serif;
}

.name-subtitle {
  background: none;
  font-size: 7px;
  color: var(--font-color);
  padding-left: 4px;
  letter-spacing: 2.4px;
  font-family: "Rosario", sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo__name {
  display: flex;
  flex-direction: column;
align-items: center;
  gap: 3px;
}

.div__u p {
  background: none;
  font-size: 45px;
  color: var(--color-name);
  font-family: "Marmelad", sans-serif;
  text-transform: uppercase;
}

span {
  font-family: "Josefin Slab", serif;
  background: none;
  font-weight: 600;
}

.nav {
  background: none;
  height: 70px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  background-color: #292728a1;
}

div {
  background: none;
}

.nav__link {
  background: none;
  border-radius: 5px;
  color: var(--font-color);
  padding: 10px;
  font-size: 12px;
  text-decoration: none;
}

.active {
  background-color: var(--color-name);
}

.nav__link:hover {
  text-shadow: 1px 1px 6px #fff;
  background-color: var(--color-name);
}

.btn:hover {
  box-shadow: inset 0 0 20px var(--background-color-nav),
    0 0 20px var(--background-color-nav);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
}

.container-title {
  background: none;
  color: var(--font-color);
  font-size: 30px;
  letter-spacing: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav__title,
.nav__name {
  background: none;
}

.nav__title {
  font-size: 20px;
  font-family: "Dosis", sans-serif;
}

.span-name {
  color: black;
  text-transform: uppercase;
  font-family: "Julius Sans One", sans-serif;
}

.nav__link__contact {
  background: none;
  display: flex;
  gap: 20px;
}

.btn {
  background: none;
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: var(--color-name);
}

.btn a {
  background: none;
  text-decoration: none;
  color: var(--font-color);
  font-size: 18px;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* estilos de la informacion de los tratamientos */

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px;
  gap: 20px;
  flex-wrap: wrap;
}

.info-title {
  background-color: var(--color-name);
  color: var(--font-color);
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 2px;
}

.info__description {
  color: var(--font-color);
  margin: 4px;
  padding: 10px;
  border-radius: 4px;
  background-color: #292728a1;
  background-blend-mode: multiply;
  height: 300px;

  display: none;
}

.info__description p {
  background: none;
}

.info-point {
  margin: 30px;
  background: none;
  font-size: 14px;
}

.info-point li {
  background: none;
}

.info-point_img {
  width: 130px;
  height: 130px;
  border-radius: 4px;
}

.info-point_container {
  display: flex;
  align-items: center;
}

.open {
  display: block;
}

.info-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  height: 20px;
  width: 20px;
  background: none;
}

.btn-menu {
  visibility: hidden;
}

.whatsapp {
  background: none;
  width: 15px;
  height: 15px;
}

/* estilos de descripcion tratamiento */

.description {
  color: var(--font-color);
  margin: 100px;
}

.description_title {
  text-align: center;
  padding-bottom: 15px;
  color: var(--color-name);
  font-size: 30px;
}

.description_info {
  max-width: 800px;
  text-align: center;
  margin: auto;
  color: black;
}

/* estilos para el footer */

.footer {
  color: black;
  background-color: var(--background-color-nav);
}

.footer__container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.footer__logo {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.footer__data {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__data h4 {
  font-size: 15px;
}

.footer__data__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__li {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Estilo section contacto */

.contact {
  color: var(--background-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container__contact {
  background-color: #a33653d3;
  padding: 30px;
  border-radius: 7px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container__contact {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 1fr 1fr 1f 3fr;
  gap: 10px;
}

.contact__form:nth-child(1) {
  grid-column: 1 / span 2;
}

.contact__form:nth-child(2) {
  grid-column: 1 / span 1;
}

.contact__form:nth-child(3) {
  grid-column: 2 / span 1;
}

.contact__form:nth-child(4) {
  grid-column: 1 / span 2;
}

.contact__form:nth-child(5) {
  grid-column: 1 / span 2;
}

input {
  height: 30px;
  border-radius: 5px;
  border: none;
}

.submit{
  color: black;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 800;
  border: solid 1px #d80a41 ;
  cursor: pointer;
}

/* medias query */

@media screen and (max-width: 768px) {
  /* Estilos para pantallas de hasta 768px de ancho */

  .nav__name {
    text-align: center;
    padding-top: 90px;
    font-size: 25px;
  }

  .span-name {
    font-size: 30px;
  }
  .nav__title {
    font-size: 15px;
    padding: 10px;
    text-align: center;
  }

  .btn a {
    font-size: 12px;
  }

  .info {
    flex-direction: column;
    margin: 10px;
    font-size: 12px;
  }

  .info-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info-point {
    margin: 30px;
    background: none;
    font-size: 12px;
    line-height: 25px;
  }

  .activo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background-color: #292728a1;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 70px;

    visibility: hidden;
  }

  .nav__link{
    border-bottom: 1px solid  var(--color-name);
    width: 100%;
  }

  .visibility {
    visibility: visible;
  }

  .btn-menu {
    background: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    visibility: visible;
  }

  .description {
    color: var(--font-color);
    margin: 20px;
  }

  .description_title {
    text-align: center;
    padding-bottom: 15px;
    color: var(--color-name);
    font-size: 30px;
  }

  .description_info {
    max-width: 800px;
    text-align: center;
    margin: auto;
    font-size: 12px;
  }

  /* estilos de contacto movil */

  .contact {
    flex-direction: column;
    gap: 30px;
  }

  .container__contact {
    padding: 10px;
  }


}

@media screen and (max-width: 520px) {
  .info-point_img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
  }

  .info-point {
    margin: 12px;
    line-height: normal;
  }

  .info__description {
    height: fit-content;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
  }

  .container__contact {

    grid-template-columns: 120px 120px;
 
    
  }

  .map{
    width: 240px;
    height: 150px;

  }
}
